#content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

body {
  background-color: #f5fcfc;
}

#profile-heading,
#explore-heading,
#login,
#student-info {
  text-align: center;
}

.login-intro {
  margin-top: 10%;
}

p {
  font-family: 'open sans', arial, sans-serif;
}

#leave {
  font-size: 12px;
  padding: 5px 10px;
}

.upload-profile-pic,
.save-button,
#login-button,
#student-info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.save-button {
  margin-top: 5%;
}

#student-info {
  margin-top: 1%;
}

button {
  font-size: 20px;
  color: #fff;
  border-radius: 12px;
  margin-top: 10px;
  background-color:#000080;
  border: none;
  padding: 16px 32px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}

#login {
  position: revert;
  color: #000;
  height: 100vh;
  background-image: linear-gradient(45deg, #6495ED, #f5fcfcfc);
}

#main-heading {
  font: 100px 'Montserrat';
  font-weight: bold;
}

#intro-content {
  font-size: 40px;
}

.save-button {
  text-align: center;
}

button:hover {
  opacity: 1;
}

.profile-button {
  float: right;
}

.explore-button {
  float: left;
}

.left-profile {
  float: left;
  margin-left: 25%;
}

.right-profile {
  float: right;
  width: 33%;
}

.middle-profile {
  margin-top: 2%;
}

#inbox {
  width: 300px;
  border: 5px solid #000;
  padding: 30px;
  background-color: #eee;
}

.profile-pic {
  display: block;
  margin-right: auto;
  width: 5%;
  margin-left: 48%;
}

.full-screen-panel {
  width: 90%;
  height: 50%;
  background-color: #ddd;
  padding: 20px;
  margin: 10px 5% 10px 5%;
}

.club-listing {
  padding: 20px;
}

.club-logo {
  width: 100%;
  height: auto;
}

.club-logo-container, 
.club-info-container, 
#club-join-container {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  margin: 10px;
}

.club-logo-container {
  width: 10%;
}

.club-info-container {
  width: 60%;
}

#club-join-container {
  width: 20%;
}

#top-navigation {
  background-image: linear-gradient(90deg, #6495ED, #00008B);
  overflow: hidden;
}

#top-navigation a {
  float: right;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#top-navigation a:hover {
  background-color: #ddd;
  color: #000;
}

/* Navigation Bar */
.club-navbar {
  background-color: #6495ED;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.club-navbar-element {
  float: left;
}

.club-navbar-element a {
  color: #fff;
  display: inline-block;
  font: bold 14px Tahoma;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

.club-navbar-element a:hover {
  background-color: #4169E1;
}

.edit-profile {
  display: inline;
  padding: .25em 0em;
  margin: 1em 0;
}

#edit-name {
  font-size: 2em;
  font-weight: bold;
}

.edit-profile,
#edit-name {
  transition: padding .3s ease-in-out;
}

.edit-profile:hover,
.edit-profile:focus,
#edit-name:hover,
#edit-name:focus {
  padding: .25em;
}

.edit-profile:hover,
#edit-name:hover {
  background: #fff;
  outline: 2px solid #eee;
}

.pencil-edit {
  font-size: 2em;
}

.club-element {
  padding: 5px;
  margin-left: 20px;
}

.club-element[contenteditable="true"],
.edit-profile:focus,
#edit-name:focus {
  background: #eee;
  outline: 2px solid #0000FF;
}

#about-us-view {
  margin-left: 100px;
  margin-right: 100px;
}

#announcement-profile-picture, 
#announcement-body,
#announcement-right {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  margin: 10px;
}

#announcement-profile-picture {
    width: 5%;
}

#announcement-body {
  width: 65%;
}

#announcement-right {
  width: 20%;
}

#announcement-content,
#announcement-author,
#announcement-time {
  display:inline-block;
}

.save-announcement,
.delete-announcement {
  display: none;
}

#calendar-element {
  border: 0;
  width: 800px;
  height: 600px;
  display:inline-block;
}

#row {
  display: flex;
}

#club-logo-small {
  height: 50px;
}

#edit-button { 
  display: none; 
}

#club-join-container,
#interested-club-container {
  display: inline;
}

.join-button {
  margin-top: -5px;
}

#hidden-input {
  all: revert;
}
