#content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.heading {
  text-align: center;
}

p {
  font-family: 'open sans', arial, sans-serif;
}

button {
  background-color: #E0FFFF;
}

.profile-button {
  float: right;
}

.explore-button {
  float: left;
}

.split-profile {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 5%;
  overflow-x: hidden;
  padding-top: 20px;
}

.left-profile {
  left: 25%;
}

.right-profile {
  right: -25%;
}

.inbox {
  width: 200px;
  border: 5px solid #000000;
  padding: 30px;
}

.profile-pic {
  width: 5%;
  height: 5%;
  margin-left: 50%;
}

.full-screen-panel {
  width: 100%;
  height: 50%;
  background-color: rgb(194, 194, 194);
  padding: 20px;
  margin: 20px;
}

.club-listing {
    padding: 20px;
}

.club-logo {
  width:100%;
  height:auto;
}

.club-logo-container, .club-info-container, .club-join-container {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  margin: 10px;
}

.club-logo-container {
    width: 10%;
}

.club-info-container {
    width: 60%;
}

.club-join-container {
    width: 20%;
}